<span class="acceptButton"><%= link_to t(:moderateAccept), moderate_message_url(message, :status => 'accept'), :remote => true %></span>
<span class="rejectButton"><%= link_to t(:moderateReject), moderate_message_url(message, :status => 'reject'), :remote => true %></span>
<span class="rejectButton"><%= link_to t(:moderateDelete), moderate_message_url(message, :status => 'delete'), :remote => true %></span>
