<span class="acceptButton"><%= link_to_remote t(:moderateAccept), {:url => moderate_message_url(message, :status => 'accept')} %></span>
<span class="rejectButton"><%= link_to_remote t(:moderateReject), {:url => moderate_message_url(message, :status => 'reject')} %></span>
<span class="rejectButton"><%= link_to_remote t(:moderateDelete), {:url => moderate_message_url(message, :status => 'delete')} %></span>