/**
 * $Id: custom.css,v 1.1.0 2009/12/18 10:47:13 tvikberg Exp $
 * Acquia CsHelsinkiFi
 */

/******************************************/
/*  Overrides style.css by:               */
/*  TopNotchThemes CSS Stylesheet         */
/*  by Chris Fassnacht & Stephanie Pakrul */
/*  copyright 2008 Collective Mind        */
/******************************************/

/***************************/
/* RESET MARGINS & PADDING */
/***************************/
body { /* style.css (line 35) */
font-family: Arial, Helvetica, sans-serif
}

h2.pane-title {
	border-bottom: 1px dotted;
	margin-bottom:5px;
padding-bottom:5px;
}

html { /* style.css (line 100) */
background-color:#DDDDDD;
background-image:url('http://www.cs.helsinki.fi/sites/all/themes/acquia_cshelsinkifi/images/headerbg.jpg');
background-position:center center;
background-repeat:repeat-y;
color:#666666;
}

#page { /* style.css (line 105) */
background:#DDDDDD url('http://www.cs.helsinki.fi/sites/all/themes/acquia_cshelsinkifi/images/headerbg.jpg') repeat-y scroll center center;
}

#main {
width: 970px;
background:#FFFFFB url('http://www.cs.helsinki.fi/sites/all/themes/acquia_cshelsinkifi/images/contenttopbg.jpg') repeat-x scroll 0 0;
}

#header-wrapper { /* style.css (line 249) */
background: transparent none repeat scroll 0 0;
padding-left: 0;
}

#header { /* style.css (line 254) */
background: #e9af43 none repeat scroll 0 0;
width: 970px;
}

#header-last { /* style.css (line 335) */
margin-right:10px;
text-align:right;
width: 45%;
}

#primary-menu-wrapper { /* style.css (line 341) */
background: #e9af43 url('http://www.cs.helsinki.fi/sites/all/themes/acquia_cshelsinkifi/images/headerbottombg2.jpg') repeat-x bottom;
width: 970px;
}

#main-wrapper { /* style.css (line 425) */
background:#DDDDDD url('http://www.cs.helsinki.fi/sites/all/themes/acquia_cshelsinkifi/images/headerbg.jpg') repeat-y scroll center center;
padding-left:0px;
}

#search-box { /* style.css (line 261) */
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:0;
background: none;
border: none;
padding:4px;
}




body.layout-main #content-wrapper { /* style.css (line 582) */
margin:0;
padding:5px 15px;
width:940px;
}

h2.title { /* style.css (line 697) */
/* font-family: Arial, Helvetica, sans-serif; */
text-transform: none;
}


div.node h2.title { /* style.css (line 715) */
border-bottom: none;
}

div.node.full-node div.content { /* style.css (line 789) */
border-bottom: none;
}

#primary-menu { /* style.css (line 1058) */
/* font-family: Arial, Helvetica, sans-serif; */
float: left;
text-transform: none;
font-weight:200;
margin-top: 2px;
margin-left: 20px;
}




/* These ids are used for the top right corner titles */

#university {
	font-weight:bold;
	text-decoration: none;
	color: #757575;
	text-transform:uppercase;
}

#faculty {
	font-weight:bold;
	text-decoration: none;
	color: white;
	text-transform:uppercase;
}

h1.title { /* style.css (line 688) */
font-family:Arial,Helvetica,sans-serif;
font-weight:normal;
letter-spacing:1px;
padding-top:20px;
padding-left:20px;
font-size:2.5em;
}



/* Override all headers */
h1, h2, h3, h4, h5, h6 { 
/* font-family: Arial, Helvetica, sans-serif; */
}

h1.title, h2.title, h3.title, h4.title {
/*	font-family: Arial, Helvetica, sans-serif; */
}

ul { /* style.css (line 122) */
/* font-family: Arial, Helvetica, sans-serif; */
}

#header-first { /* style.css (line 301) */
width:50%;
margin: 0;
}

#header-first h1 { /* style.css (line 313) */
margin:20px 0 15px;
font-size:2.3em;
font-family: Arial, Helvetica, sans-serif;
font-weight:bolder;
line-height:1em;
}

#header-first h1 a { /* style.css (line 319) */
color:white;
}

#primary-menu ul { /* style.css (line 122) */
margin:0;
font-weight:bold;
}

#header-last div.block-wrapper { /* style.css (line 836) */
margin:10px 0 0;
}

#header-last h3 {
font-size: 1.15em;
}

#header-last div.content ul li, /* style.css (line 154) */
input.form-submit, input.teaser-button /* style.css (line 15344) */{
/* version 1 */
display:inline;
	background: #e9af43 none repeat scroll 0 0;
	-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:4px;
-moz-border-radius-bottomright:4px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
-moz-outline-radius-bottomleft:4px;
-moz-outline-radius-bottomright:4px;
-moz-outline-radius-topleft:4px;
-moz-outline-radius-topright:4px;
border-color:#FFFFFF #FFFFFF -moz-use-text-color;
border-style:solid solid none;
border-width:1px 1px 0;
color:#FFFFFF;
cursor:pointer;
margin:1px 4px;
outline-color:#9BABB0;
outline-style:solid;
outline-width:1px;
padding:0px 5px;
font-family: Arial, Helvetica, sans-serif;
} 

#primary-menu ul.menu li /* style.css (line 1094) */{
/* version 1 */
display:inline;
	background: transparent url('http://www.cs.helsinki.fi/sites/all/themes/acquia_cshelsinkifi/images/headerbottombg.jpg') repeat scroll 0 0;
	-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:4px;
-moz-border-radius-bottomright:4px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
-moz-outline-radius-bottomleft:4px;
-moz-outline-radius-bottomright:4px;
-moz-outline-radius-topleft:4px;
-moz-outline-radius-topright:4px;
border-color:#FFFFFF #FFFFFF -moz-use-text-color;
border-style:solid solid none;
border-width:1px 1px 0;
color:#FFFFFF;
cursor:pointer;
margin:1px 4px;
outline-color:#9BABB0;
outline-style:solid;
outline-width:1px;
padding:0px 5px;
font-family: Arial, Helvetica, sans-serif;
} 

/* version 2 */
/* 
display:inline;
	background: transparent none repeat scroll 0 0;
	-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:4px;
-moz-border-radius-bottomright:4px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
-moz-outline-radius-bottomleft:4px;
-moz-outline-radius-bottomright:4px;
-moz-outline-radius-topleft:4px;
-moz-outline-radius-topright:4px;
border-color:grey;
border-style:solid solid none;
border-width:1px 1px 0;
color:#FFFFFF;
cursor:pointer;
font-size:0.916em;
font-weight:bold;
padding:0px 5px;
text-transform:uppercase;
font-family: Arial, Helvetica, sans-serif;
}
*/

#primary-menu ul.menu li { /* style.css (line 1094) */
-moz-border-radius-bottomleft:0px;
-moz-border-radius-bottomright:0px;
-moz-outline-radius-bottomleft:0px;
-moz-outline-radius-bottomright:0px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
-moz-outline-radius-topleft:10px;
-moz-outline-radius-topright:10px;
}

#header-last div.content li.active, 
#header-last div.content li:hover{
	background: #e8ebfb none repeat scroll 0 0;
	/* color: white;  style.css (line 85) */
}
#primary-menu ul.menu li.active-trail,
#primary-menu ul.menu li:hover {
		border-color: #e8ebfb;
		border-bottom: none;
		outline-width: 1px;
		outline-color: #e8ebfb;
		background: #e8ebfb none repeat scroll 0 0;
}
#primary-menu ul.menu li a{
		padding: 4px 2px;
		background-image: none;
		color:	black; 
}

#header-last div.content li.active a, 
#header-last div.content li:hover a,
#primary-menu ul.menu li.active-trail a,
#primary-menu ul.menu li:hover a{
	color: black; /* style.css (line 85) */
}

#header-last div.content li a { /* style.css (line 948) */
text-decoration: none;
color: white; /* style.css (line 85) */
font-weight:	normal;
}

#footer { /* style.css (line 524) */
border-bottom:none;
border-top:none;
padding:20px;
}
/*from old css*/
div.feed-icon {
	text-align: right;
	padding-right: 10px;
}

div.rss, div.sininen, div.vihrea{ 
    background: white url('http://www.cs.helsinki.fi/sites/all/themes/acquia_cshelsinkifi/images/block-gradient.png') no-repeat scroll center bottom;
  	font-family: Tahoma, Arial, Helvetica, sans-serif;  
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-opera-border-radius:6px;
	-khtml-border-radius:6px;
	border-radius:6px;
}

div.valikko, div.navigation {
	  	font-family: Tahoma, Arial, Helvetica, sans-serif;  
	/* 	border: 1px solid #D1D3D2; */
} 

div.rss { 
    border: 1px solid #ff9f17;
}

div.vihrea {
	border:1px solid #AAAAAA;
	margin-right:15px;
}

div.sininen {
	border:1px solid #AACEE4;
}

div.sininen hr {
	border:1px solid #A9CDE4;
}

div.valikko,
div.rss,
div.sininen, 
div.vihrea{
	padding:8px 10px 10px 8px;
}

div.rss h2.pane-title,
div.sininen h2.pane-title, 
div.vihrea h2.pane-title{
	padding:10px 0 10px 48px;
	font-size: 1.2em;
	border-bottom: none;
}

div.node.full-node div.content{
border-bottom: none;
}

div.node h2.title{
border-bottom: none;
}

div.rss h4,
div.valikko h4,
div.vihrea h4,
div.sininen h4,
div.navigation h4{
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 1.1em;
	font-weight: normal;

}

div.top-page-teaser {
}

div.top-page-teaser table{
	margin: 0;
}

div.top-page-teaser td {
	padding:0 1em 1em;
vertical-align:top;
width:25%;
}

div.top-page-teaser h2 {
font-size: 0.9em;
border-bottom: none;
}



div.valikko h2.pane-title,
div.navigation h2.pane-title{
border-bottom:1px dotted black;
font-size:1.2em;
font-weight:bold;
text-decoration:none;
}

div.valikko h3,
div.navigation h3{
font-size:1em;
}

div.vihrea td {
	padding: 0;
}

div.vihrea table {
	border-collapse: separate ;
}

div.bottom {
	border-top:1px ridge grey;
	margin-top:50px;
	padding-top:20px;
}

tbody { /* style.css (line 1510) */
	border-top: none;
}

.rounded-corner .panel-separator { /* 4a1151...8.css (line 55) */
    background: none;
	height:0px;
}

#padding div.node {
	border-bottom:1px dotted #AAAAAA;
	margin-bottom:20px;
	padding-bottom:5px;
}


blockquote:lang(fi) :first-child  { /* style.css (line 1722) */
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin:padding;
	background:transparent url('http://www.cs.helsinki.fi/sites/all/themes/acquia_cshelsinkifi/images/close-quote.gif') no-repeat scroll left top;
	padding:10px 0 0 20px;
}

blockquote:lang(sv) :first-child  { /* style.css (line 1722) */
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin:padding;
	background:transparent url('http://www.cs.helsinki.fi/sites/all/themes/acquia_cshelsinkifi/images/close-quote.gif') no-repeat scroll left top;
	padding:10px 0 0 20px;
}

blockquote:lang(en) :first-child  { /* style.css (line 1722) */
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin:padding;
	background:transparent url('http://www.cs.helsinki.fi/sites/all/themes/acquia_cshelsinkifi/images/open-quote.gif') no-repeat scroll left top;
	padding:10px 0 0 20px;
}

div.node-info {
font-family:	Tahoma, Geneva, sans-serif;
margin-top:		-6px;
padding-left:	20px;
padding-top:	4px;
}

div.node-content {
padding-left:	20px;
padding-right:	20px;
}