<table>
  <% @course.courseroles.each do |role| %>
    <tr>
      <td><%=h role.user_id %></td>
      <td><%= link_to t(:Delete), :confirm => t(:courserole_confirm_delete, :name => role.user_id, :course => @course.name), :remote => true, :url => course_courserole_path(@course.id, role.id), :method => :delete
      #:update => "courseroles",
      %></td>
    </tr>
  <% end %>

  <tr>
    <td>
      <span id="add-teacher">
        <%= link_to t(:course_add_teacher), new_course_courserole_path(@course.id), :remote => true, :method => :get
        #:update => "add-teacher"
        %>
      </span>
    </td>
    <td></td>
  </tr>
</table>
