<h1>Questionnaires</h1>

<ul>
  <% @questionnaires.each do |questionnaire| %>
    <li>
      <%= link_to [@instance,questionnaire] do %>
        <%= questionnaire.id %>
      <% end %>
    </li>
  <% end %>
</ul>

<p><%= link_to 'Create New Questionnaire', new_course_instance_questionnaire_path(@instance) %></p>
