<h1>Listing questionnaires</h1>

<ul>
  <% @questionnaires.each do |questionnaire| %>
    <li>
      <%= link_to questionnaire do %>
        <%= questionnaire.race_instance ? questionnaire.race_instance.name : questionnaire.id %>
      <% end %>
    </li>
  <% end %>
</ul>

<p><%= link_to 'Create New Questionnaire', new_questionnaire_path %></p>
