<h2><%=t :new_survey_heading %></h2>

<% form_for(@survey) do |f| %>
  <%= render :partial => 'settings', :locals => { :f => f } %>
<% end %>

<%= link_to t(:back), surveys_path(@course.code, @instance.path) %>
