<h1>Kiitos vastauksesta</h1> 

<% unless @instance.aplus_url.blank? %>
  <p><a href="<%= @instance.aplus_url %>survey_token=<%= @token %>">Rekisteröidy A+ -järjestelmään tästä linkistä</a></p>
<% end %>
