.surveyQuestionEditor {
  background: #f8f8f8;
  border: 1px solid #e0e0e0;
  margin: 1em 0em;
  padding: 1em;
}

textarea {
  width: 100%;
}

/*
input[type="submit"] {

}
*/


.surveyQuestion, .surveyQuestionResults {
  margin: 1em 0em;
  padding: .5em .5em .5em .5em;
}

.surveyQuestion thead, .surveyQuestionEditor thead {
  background: none;
}

.surveyQuestion th, .surveyQuestion td {
  border-bottom: none;
  text-align: center;
}


.surveyQuestionResults td:first-child, .surveyQuestion td:first-child {
  text-align: left;
}


.surveyQuestionResults table {
  margin: .5em 0em 1em 0em;
}

.surveyQuestionResults td {
  background: white;
  border: 1px solid #e0e0e0;
}
